@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-family: 'Cabin', sans-serif;
  --font-family-secondary: 'Poppins', sans-serif;
}

body {
  background-color: #f7f7f7;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.hidden-element {
  display: none;
}

.service-wrapper .service-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
  max-width: 1280px;
  margin: auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 100px auto;
  padding: 0 15px;
}

.service-wrapper .service-card__content {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #454545;
}

.service-wrapper .service-card {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  background-color: #fff;
  padding: 16px 20px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.service-wrapper .service-card.business-option-added .add-business__btn {
  display: none;
}

.service-wrapper .service-card .form-container {
  display: none;
}

.service-wrapper .business-card {
  display: flex;
  flex-direction: column;
}

.service-wrapper .business-card + .business-card {
  border-top: 1px solid #0000001a;
  margin: 16px 0 0 0;
}

.service-wrapper .remove-btn {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin: 16px 0 0;
  cursor: pointer;
}

.service-wrapper .remove-btn-icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.service-wrapper .remove-btn-text {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #a1a5b7;
}

.service-wrapper .input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 16px 0 0 0;
}

.service-wrapper .input-wrapper .form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.service-wrapper .input-wrapper input {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  padding: 14px 24px;
  margin: 0 0 20px;
  background-color: #f5f8fa !important;
  border: 0;
  border-radius: 6px;
}

.service-wrapper .input-wrapper input:focus-visible {
  outline: 2px solid #a1a5b7;
}

.service-wrapper .input-wrapper input::placeholder {
  color: #a1a5b7;
}

.service-wrapper .input-wrapper input:focus {
  background-color: #f5f8fa;
}

.service-wrapper .input-wrapper input:active {
  background-color: #f5f8fa;
}

.service-wrapper .input-wrapper input:-webkit-autofill {
  background-color: #f5f8fa !important;
  -webkit-box-shadow: 0 0 0px 1000px #f5f8fa inset !important;
}

.service-wrapper .input-wrapper .error-message {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: red;
}

/* Hide default checkbox */
.service-wrapper .service-card__checkbox {
  display: none;
}

/* Custom checkbox style */
.service-wrapper .service-card__title {
  position: relative;
  display: inline-block;
  padding-left: 36px;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
}

/* Custom box */
.service-wrapper .service-card__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #454545;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Checkmark */
.service-wrapper .service-card__title::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 12px;
  height: 9px;
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEzIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTIuNTMwMyAwLjIxOTY2N0MxMi44MjMyIDAuNTEyNTY1IDEyLjgyMzIgMC45ODc0MzUgMTIuNTMwMyAxLjI4MDMzTDUuMDMwMzIgOC43ODAzMkM0LjczNzQ1IDkuMDczMiA0LjI2MjU2IDkuMDczMiAzLjk2OTY3IDguNzgwMzJMMC4yMTk2NjggNS4wMzAzMkMtMC4wNzMyMjI1IDQuNzM3NDUgLTAuMDczMjIyNSA0LjI2MjU1IDAuMjE5NjY4IDMuOTY5NjdDMC41MTI1NjUgMy42NzY4IDAuOTg3NDM1IDMuNjc2OCAxLjI4MDMzIDMuOTY5NjdMNC41IDcuMTg5MzVMMTEuNDY5NyAwLjIxOTY2N0MxMS43NjI2IC0wLjA3MzIyMjUgMTIuMjM3NCAtMC4wNzMyMjI1IDEyLjUzMDMgMC4yMTk2NjdaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* When checked */
.service-wrapper .service-card__checkbox:checked + .service-card__title::before {
  background-color: #f56701;
  border-color: #f56701;
}

.service-wrapper .service-card__checkbox:checked + .service-card__title::after {
  opacity: 1;
}

.service-wrapper .service-card label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.service-wrapper .service-card__checkbox {
  margin-right: 12px;
  cursor: pointer;
}

.service-wrapper .service-card__action {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.4s ease, opacity 0.3s ease, margin 0.3s ease;
  transition: max-height 0.4s ease, opacity 0.3s ease, margin 0.3s ease;
  opacity: 0;
}

.service-wrapper .service-card.active .service-card__action {
  max-height: 100px;
  /* Enough for button */
  opacity: 1;
  margin-top: 12px;
}

.service-wrapper .service-card.active .form-container {
  display: block;
}

.service-wrapper .add-business__btn {
  max-width: 150px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 16px;
  background-color: #ff6600;
  color: #fff;
  border: 0;
  border-radius: 11px;
  cursor: pointer;
}

.service-wrapper .add-business-entry-btn {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0;
  padding: 0 0 0 8px;
  cursor: pointer;
}

.service-wrapper .add-business-entry-btn.hidden-element {
  display: none;
}

.service-wrapper .business-card-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-wrapper .add-business-entry-icon {
  display: flex;
  align-items: center;
  margin: 0 8px 0 0;
}

.service-wrapper .add-business-entry-text {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #ff6600;
}

.service-wrapper .save-btn {
  max-width: 100px;
  width: 100%;
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 14px;
  background-color: #ff6600;
  border: 0;
  border-radius: 11px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.service-wrapper .save-btn.saved-btn + .add-business-entry-btn {
  cursor: pointer;
}

.service-wrapper .save-btn[disabled] {
  opacity: 0.2;
  pointer-events: none;
}

.service-wrapper .save-btn .save-btn-icon {
  display: none;
}

.service-wrapper .save-btn.saved-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff66001a;
  pointer-events: none;
}

.service-wrapper .save-btn.saved-btn .save-btn-text {
  color: #ff6600;
}

.service-wrapper .save-btn.saved-btn .save-btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}

.service-wrapper .submit-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 24px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 1000;
  box-sizing: border-box;
}

.service-wrapper .submit-wrapper .submit-wrapper-inner {
  max-width: 430px;
  margin: 0 auto;
  width: 100%;
}

.service-wrapper .submit-wrapper.hidden {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  pointer-events: none;
  opacity: 0;
}

.service-wrapper .submit-wrapper .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff6600;
  border: 0;
  border-radius: 8px;
  padding: 7px 0;
  cursor: pointer;
}

.service-wrapper .submit-wrapper .submit-btn[disabled] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  pointer-events: none;
  opacity: 0.5;
}

#modal-container {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: 1000000;
}

#modal-container.one {
  -webkit-transform: scaleY(0.01) scaleX(0);
  transform: scaleY(0.01) scaleX(0);
  -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal {
  -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000080;
  text-align: center;
  vertical-align: middle;
}

#modal-container .modal-background .modal {
  max-width: 450px;
  width: 75%;
  background: white;
  padding: 40px;
  display: inline-block;
  border-radius: 16px;
  position: relative;
  height: max-content;
}

#modal-container .modal-background .modal .modal-icon {
  padding: 0 0 24px;
}

#modal-container .modal-background .modal h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #000000;
  padding: 0 0 12px;
  margin: 0;
}

#modal-container .modal-background .modal p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #454545;
  padding: 0 0 24px;
}

#modal-container .modal-background .modal .modal-btn {
  max-width: 130px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0px;
  text-transform: uppercase;
  background-color: #ff6600;
  color: #fff;
  border: 0;
  border-radius: 8px;
  padding: 7px 0;
  cursor: pointer;
}

#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

#modal-container .error-modal-icon {
  background: #e44043;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  padding-left: 2px;
}

#modal-container .error-modal-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-container .errors-wrapper {
  font-family: var(--font-family);
  list-style-type: none;
  padding: 0;
}

#modal-container .errors-wrapper > li {
  padding-bottom: 8px;
}

#modal-container .errors-wrapper > li:last-child {
  padding-bottom: 0;
}

.spinner {
  border: 3px solid #5e6278;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@media screen and (max-width: 1180px) {
  .service-wrapper .service-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .service-wrapper .service-card-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media screen and (max-width: 767px) {
  .service-wrapper .add-business-entry-text {
    font-size: 12px;
  }

  .service-wrapper .add-business-entry-icon {
    svg {
      width: 12px;
      height: 12px;
    }
  }

  .service-wrapper .submit-wrapper {
    padding: 16px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }

  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }

  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }

  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }

  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
